
@import url("vars.css");
html {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--nord0);
  overflow: hidden;
  font-family: IBM Plex Sans;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 26vh 10vw 0 10vw;
}

.grid {
  display: flex;
  height: 20vh;
  margin: 1vw;
  border-radius: 0.54em;
  background-color: var(--nord1);
}

.grid:hover {
  background-color: var(--nord2);
}

.header{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title, .clock {
 color: var(--nord5);
 font-size: 3em;
 font-weight: 800;
}
