
@import url("vars.css");
html {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--nord0);
  overflow: hidden;
  font-family: IBM Plex Sans;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10vw 10vw 10vw;
}

.grid {
  display: block;
  height: 15em;
  margin: 1vw;
  border-radius: 0.4em;
  background-color: var(--nord1);
}

.grid:hover {
  background-color: var(--nord2);
}

.header{
  margin: 8vh 10.5vw;
  display: flex;
  justify-content: space-between;
}

.clock {
  cursor: default;
  color: var(--nord6);
  font-size: 5em;
  font-weight: 800;
  font-family: Tahoma;
}

.searchbar{
  margin: 6vh 0.6vw 0 0;
}

input{
  background-color: var(--nord1);
  border: none;
  border-radius: 0.4em;
  width: 24vw;
  height: 1.7em;
  color: var(--nord6);
  font-weight: bold;
  padding-left: 0.4em;
}

input:hover{
  background-color: var(--nord2);
}

input:active{
  background-color: var(--nord3);
}

a{
  display: block !important;
  text-decoration: none;
  color: var(--nord6);
}

.link{
  font-weight: 400;
  margin: 0.6em 0 0 1.1em;
  color: var(--nord5);
  font-size: 1.2em;
}

.link:hover{ 
  color: var(--nord7);
}

h2{
  cursor: default;
  font-size: 1.7em;
  text-align: center;
  text-decoration: none;
  color: var(--nord6);
  margin-top: 0.3em;
  font-weight: 600;
}

input:focus {
  outline: none !important;
}

#Weather_grid{
  background-color: var(--nord0) !important;
}

.Icon{
  display: inline-block;
  width: 50%;
  height: 35%;
  margin: 0 auto;
  max-width: 96px;
  max-height: 96px;
}

.temperature{
  display: inline-block;
  cursor: default;
  color: var(--nord6);
  font-size: 3.4em;
  font-weight: 800;
  font-family: Tahoma;
}

#Icon-code{
  text-align: center;
}